
@import "jfw-forms.less";

.jfw-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.jfw-dialog {
    padding-top: 0px;
    padding-bottom: 10px;
    position: absolute;
    border-radius: 10px;
    color: #DDD;
    overflow: hidden;
}

.jfw-dialog-header {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.jfw-dialog-content
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.jfw-dialog h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14pt;
    padding-top: 5px;
    font-variant: small-caps;
    text-transform: uppercase;
}

.jfw-dialog h1.jfw-dialog-close-button {
    position: absolute;
    right: 0;
    padding-right: 8px;
}

.jfw-dialog h1.jfw-dialog-close-button a:hover {
    cursor: pointer;
    color: #FFB;
}

.jfw-dialog h2 {
    font-size: 10pt;
    padding-top: 5px;
    font-variant: small-caps;
    text-transform: uppercase;
}

.jfw-dialog label {
    .jfw-form-label;
}

.jfw-dialog .jfw-form-group label {
    font-size: 9pt;
    font-variant: normal;
    text-transform: none;
}

.jfw-dialog-submit {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #DDD;
    padding: 5px;
    cursor: pointer;
}

.jfw-tabbed-dialog {
    width: 80%;
}

.jfw-tabbed-dialog-tabs {
    width: 170px;
    overflow: hidden;
}

.jfw-tabbed-dialog-tab {
    margin-bottom: 15px;
    cursor: pointer;
    width: 140px;
}

.jfw-tabbed-dialog-body {
    display: flex;
    flex-direction: row;
}

.jfw-tabbed-dialog-content {
    //width: calc(100% - 180px);
    flex: 1 1;
}




.jfw-tabbed-view {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex: 1;
}

.jfw-tabbed-view-tabs {

	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	justify-content: flex-start;

}

.jfw-tabbed-view-tab {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.jfw-tabbed-view-tab:not(:first-child) {
	border-top-left-radius: 0px !important;
}

.jfw-tabbed-view-tab:not(:last-child) {
	border-top-right-radius: 0px !important;
}


.jfw-tabbed-view-tab {
	background-color: #ffda8f !important;
	color: black !important;
	font-size: large;
	padding: 8px !important;
	font-size: large !important;
}

.jfw-tabbed-view-tab.active {
	background-color: #fff3da !important;
	font-weight: bold;
}

.jfw-tabbed-view-content {
	background-color: #fff3da;
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex: 1;
}

.jfw-tabbed-view-content .loader {
	filter: invert(100%);
}